*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: #f0cb36;
}

.card {
  text-align: center;
  background-color: #151787;
  border-radius: 5px;
  border-width: 1px;
  color: #f0cb36;
  font-size: 18px;
  margin: auto;
  width: 60%;
  padding: 30px 40px;
  float: left;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: #6b8beb;
  border-radius: 25px;
  color: white;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}


#guess {
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

aside {
    width: 30%;
    text-align: center;
    padding: 15px;
    margin-top: 100px;
    
    border-style: solid;
    border-width: 5px;
    border-color: #151787;
    border-radius: 7px;
    float: right;
}

aside h2 {
    color: #f0cb36;
}

aside button {
  background-color: #151787;
  border-radius: 25px;
  box-shadow: black;
  color: white;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}